<nav>
    <div class="logo">
        <a href="/">
            <img src="/imagenes/logo.png" alt="">
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/"> Información </a></li>
        <li><a href="/estadisticas"> Estadísticas </a></li>
        <li><a href="/contactos"> Contactos </a></li>
        <li><a href="/encuesta"> Encuesta </a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>