<header class="animate__animated animate__fadeIn animate__faster">
    <a href="/">
        <img src="/imagenes/logo.png">
    </a>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <h5>Información</h5>
                </a>
            </li>
            <li>
                <a href="/estadisticas">
                    <h5>Estadísticas</h5>
                </a>
            </li>
            <li>
                <a href="/contactos">
                    <h5>Contacto</h5>
                </a>
            </li>
        </ul>
    </nav>
</header>