{{> head }}
<title> Resultados - Coronavirus </title>
<link rel="stylesheet" href="/css/estilos.css">
{{> fuentes }}
<link rel="stylesheet" href="/css/encuesta.css">
</head>
<body>
    {{> header }}
    <div id="contenedor">
        <hr>
        <br>
    <h2>¡Muchas gracias por su tiempo!</h2>
    <br>
    <hr>
    <br>
    <h3><u> IMPORTANTE: </u></h3>
          Si marcaste uno de los siguientes:
            <ul>
                <li> Fiebre </li>
                <li> Pérdida de olfato </li>     
                <li> Pérdida del gusto </li>     
                <li> Tos o dolor de garganta </li>     
                <li> Dificultades respiratorias </li>        
            </ul>
          Por favor, <a href="/contactos">haga click aquí</a> inmediatamente. Seleccione el teléfono de conveniencia y coméntele al operador su situación actual.
        <br>
        <br>
        <hr>
        <br>
    <h3><u> IMPORTANTE: </u></h3>
        Si contemplas alguna de las siguientes:
            <ul>
                <li>Estoy embarazada</li>
                <li>Tengo, o tuve cáncer</li>
                <li>Tengo diabetes</li>
                <li>Tengo alguna enfermedad hepática</li>
                <li>Tengo alguna enfermedad renal crónica</li>
                <li>Tengo alguna enfermedad respiratoria</li>
                <li>Tengo alguna enfermedad cardiológica</li>
            </ul>
            Quedáte en casa, es por tu bien.
    </div>
    <br>
    <br>
    <br>
    <br>
<footer></footer>
{{> footer }}